.chatbox {
  padding: 1.5rem;
  text-align: left;
}
.chatbox___message {
  display: flex;

  padding: 0.8rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.chatbox___message--avatar {
  background-color: white;
  border-radius: 50%;
  
  width: 40px;
  height: 40px;
}
.chatbox___message--response {
}
